include ../filter/filter

mixin text-content(data)

	//- variables
	- var filters = ["Сначала", "лучшие", "последние"];

	+b('article').text-content&attributes(attributes)

		each item in data
			+e('span').subscribers-counter !{item.subscrCounter}
			+e('time').pub-date(datetime=item.pubDate4Machines) !{item.pubDate4Humans}

			case item.contentType
				when 'question'
					+e('span').rubric !{item.rubric}
					+e('header').question-header
						+e('h1').question-heading !{item.shortQuestion}
					+e('div').answers-info
						+e('span').answers-counter !{item.answersCount}
						+e('span').respondents-list !{item.respondentsList}
					+e('div').extended-question !{item.extQuestion}

					+filter(filters)

				when 'answer'
					+e('div').answer !{item.answer}
