include ../filter/filter

mixin text-content(data)

	//- variables
	- var filters = ["Сначала", "лучшие", "последние"];

	+b('article').text-content&attributes(attributes)

		each item in data
			+e('div').secondary-content
				if item.contentType === 'question' && !item.hasFollowers
					+e.subscribe(href='#') Подписаться

				+e('span').subscribers-counter !{item.subscrCounter}
				+e('time').pub-date(datetime=item.pubDate4Machines) !{item.pubDate4Humans}

				if item.rubric
					+e('span').rubric !{item.rubric}

			case item.contentType
				when 'question'
					+e('div').main-content
						+e('header').question-header
							+e('h1').question-heading !{item.question}

						if item.hasAnswers
							+e('div').answers-info
								- function declension(num, expressions) {var result = '', count = num % 100;if (count >= 5 && count <= 20) {result = expressions['2'];} else {count = count % 10;if (count == 1) {result = expressions['0'];} else if (count >= 2 && count <= 4) {result = expressions['1'];} else {result = expressions['2'];}}return result;}
								- var arr = ['ответ','ответа','ответов'];
								+e('span').answers-counter !{item.answersCount} #{declension(item.answersCount, arr)}
								+e('span').respondents-list Отвечают: !{item.respondentsList}
							+e('div').lead !{item.lead}

							+filter(filters)(class='--answers --hidden')

						else
							+e('div').answers-info--empty Нет ответов
							+e('a').reply(href='#') Ответить

				when 'answer'
					+e('div').main-content
						+e('div').answer !{item.answer}
