mixin user-info(data)
	+b('article').user-info&attributes(attributes)
		each item in data
			+e('div').avatar
				img(src='assets/images/content/' + item.imgSrc, alt=item.imgAlt, width=item.imgWidth, height=item.imgHeight)
			+e('div').container
				+e('span').name !{item.name}
				+e('span').activity !{item.activity}
				+e('span').rating !{item.rating}
			+e.subscribe(href='#') Подписаться
